<ul class="nav nav-pills shadow rounded bg-info justify-content-end d-none d-sm-flex">
    <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Posts</a>
    </li>
    <li class="nav-item">
        <a routerLink="/photos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Gallery</a>
    </li>
</ul>

<ul class="nav nav-pills nav-fill shadow rounded bg-info justify-content-end d-flex d-sm-none">
    <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Posts</a>
    </li>
    <li class="nav-item">
        <a routerLink="/photos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white m-2 menu-item">Gallery</a>
    </li>
</ul>