<div class="bg-primary shadow rounded">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white align-middle">
                    <i class="fs-4 bi-house"></i> <span class="ms-2 d-none d-lg-inline">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white align-middle">
                    <i class="fs-4 bi-pencil-square"></i> <span class="ms-2 d-none d-lg-inline">Posts</span> </a>
            </li>
            <li>
                <a routerLink="/photos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white align-middle">
                    <i class="fs-4 bi-images"></i> <span class="ms-2 d-none d-lg-inline">Gallery</span> </a>
            </li>
        </ul>
    </div>
</div>